//------------------------------
//          Default text style
//------------------------------
* {
  font-size: 1rem;
  margin: 0;
  padding: 0;
  font-family: Lato, sans-serif, Arial, Helvetica;
}
//------------------------------
//          UTILITIES
//------------------------------
body.using-mouse :focus {
  outline: none;
}

#non-modern-browser-notification {
  font-weight: bold;
  display: none;
}

//------------------------------
//         BULMA TWEAKS
//------------------------------
.section {
  padding: 0.5rem 0;
}

//------------------------------
//         NAVBAR  adapted from https://codepen.io/kartikeya-kandula/pen/daqLYV
//------------------------------
#navbar-burger {
  margin-left: 0px;
}

#nav-item-mapbar {
  margin-left: 60px;
  margin-right: 60px;
}

.navbar-menu {
  background-color: #ffffff;
  border-bottom: 0.25rem solid #5b738c;
}

.navbar-item {
  background-color: #ffffff;
  margin-top: auto;
  margin-bottom: auto;
  font-family: Lato, sans-serif, Arial, Helvetica;
  font-weight: 400;
  font-style: normal;
  line-height: 1.8em;
  font-size: 1rem;
}

a.navbar-item,
.navbar-link {
  color: #5b738c;
  text-align: center;
  font-family: Lato, sans-serif, Arial, Helvetica;
  font-weight: 400;
  font-style: normal;
  line-height: 1.8em;
  font-size: 1.1rem;
}

.navbar-group-label {
  color: #4a4a4a;
  font-style: italic;
}

.navbar-dropdown .navbar-item {
  text-align: center;
}

/* Hover over nav items */
a.navbar-item:hover {
  background-color: rgba(187, 180, 180, 0.3);
  color: #5b738c;
}

/* Hover over nav dropdown */
a.navbar-link:hover {
  background-color: rgba(187, 180, 180, 0.3);
  color: #5b738c;
}


//------------------------------
//         GENERAL UI
//------------------------------

// .page-layout {
//   /* Start all the page layouts/sections as hidden. Show whichever layout or section is needed per the the nav selection */
//   display: none;
//   margin: 0.5rem;
// }
.page-layout {
  margin: 2rem 0 0.5rem 0;
  position: absolute;
  background-color: #fff;
  width: 100vw;
  
  // height: 1945px; //for testing how it will fit embedded within squarespace site
  // overflow-y: hidden; //for testing how it will fit embedded within squarespace site

  &:not(#page-layout-map-bars) {
    display: none;
  }
  &#page-layout-map-bars {
    visibility: hidden;
    pointer-events: none;
  }
}
#a2jlogo {
  max-height: 6rem;
  float: right;
  padding: 1rem;
}
#popup,
#map-popup {
  position: absolute;
  opacity: 0;
  color: black;
  width: 10rem;
  background-color: rgba(250, 250, 250, 0.95);
  border-radius: 0.325rem;
  padding: 0.25rem;
  top: 0;
  left: 0;
  pointer-events: none;
  text-align: center;
  z-index: 1000;

  .popup-header {
    text-transform: uppercase;
    background-color: #c6a36b;
    border-radius: 0.25rem;
    color: #fff;
  }
  .popup-value {
    margin-top: 0.25rem;
    font-weight: bold;
    color: #5a5a5a;
  }
  .popup-context {
    margin-top: 0.25rem;
    line-height: 0.9;
    color: #5f5f5f;
  }
}
div#main-page-title {
  font-size: 1rem;
  text-transform: uppercase;
  font-weight: normal;
  color: #384055;
  font-family: Copse;
  margin: 1rem 0 1rem 0;
}
h1#main-page-title2 {
  font-size: 3rem;
  color: #5b738c;
  margin-top: 0.125rem;
  margin-bottom: 1.1rem;
  font-family: Lato;
  font-weight: 300;
  font-style: normal;
}
#dropdown-section {
  width: 100%;
}
.county-options-select-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 0.75rem;
  max-width: 100%;

  .select-group {
    display: flex;
    flex-direction: row;
    padding: 0.25rem;
    max-width: 100%;
    margin-right: 1rem;

    label {
      padding-right: 0.5rem;
      font-style: italic;
      font-size: 0.9rem;
    }
    select {
      font-weight: 300;
      max-width: 80%;
      word-wrap: break-word;
      text-overflow: inherit;
      white-space: normal;
      option {
        font-weight: 300;
      }
    }
  }
}
#bar-graph-tile {
  margin: 0 auto 2rem auto;
  max-width: 95%;
  padding: 0.75rem 0 2rem 0;
  border-bottom: 0.5rem solid #eeeeee;
}
#bar-graph-tile label {
  padding-right: 0.5rem;
  font-style: italic;
  font-size: 0.9rem;
}
#map-tile .viz-instructions {
  color: darkred;
  font-weight: 400;
  height: 30px;
}
#bar-graph-tile .viz-instructions {
  display: flex;
  justify-content: flex-start;
  height: 30px;
  align-items: baseline;
  padding: 0.125rem;
  margin-top: 0.5rem;
}
#map-bars-sort-select {
  margin-right: 1rem;
  font-weight: 300;
  font-size: 0.95rem;
  height: 25px;

  option {
    font-weight: 300;
  }
}
#description-placeholder {
  // font-family: Lato, sans-serif;
  // font-size: 0.95rem;
  margin: 0 auto 0.5rem auto;
  max-width: 100%;
  text-align: center;
  transition-property: opacity;
  transition-duration: 2s;
  font-family: Copse;
  color: #bbb4b4;
  font-size: 1.1rem;
}
#map-bars-header-section {
  margin-top: 0rem;
  padding-bottom: 0;
  text-align: center;
}
#map-bars-section {
  // border: 0.25rem solid #c6a36b;
  // border-radius: 1rem;
  padding: 0 0.5rem 0.5rem 0.5rem;
  margin-bottom: 2rem;
  max-width: 98%;
  margin: 0 auto;
}
.viz-instructions {
  font-size: 0.9rem;
  background-color: white;
}
.footer {
  margin-top: 4.5rem;
  background-color: #c0bfb5;
  padding: 0.5rem;
}

//------------------------------
//             MAP
//------------------------------
$minMapBarsHeight: 44rem;

#map-container {
  width: 95%;
  height: 100% !important;
  min-height: $minMapBarsHeight;
  position: relative;
  margin: 0 auto;
  position: relative;
}

#mapbox-map {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
}

#legend-container {
  position: absolute;
  bottom: 10px;
  left: 10px;
  height: 250px;
  width: 130px;
  z-index: 1;
  background-color: rgba(250, 250, 250, 0.9);
  text-align: center;
  border-radius: 20px;
  padding: 0.25rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #777;
}

#legend-title {
  font-family: Lato, sans-serif;
  font-size: 0.8rem;
  line-height: 80%;
  margin-bottom: 15px;
  margin-left: 1px;
  margin-right: 1px;
  color: #000000;
}

#legend {
  height: 165px;
  width: 100px;
}

#legend-missing {
  width: 100px;
  height: 5%;
}

//------------------------------
//          BAR GRAPH
//------------------------------
#bar-graph-tile .is-child {
  max-width: 100%;
}
#bar-graph {
  height: 25rem;
  overflow-y: scroll;
  overflow-x: hidden;
  border-bottom: 2px solid #ddd;
}
#bar-svg {
  background-color: #f6f6f6;
}
.tick text {
  font-size: 0.8rem;
}
#axis-top-g {
  line {
    stroke: #c4c4c4;
    fill: #c4c4c4;
  }
  .domain {
    display: none;
  }
}
.bar {
  cursor: pointer;
}
.bar-label {
  fill: #101010;
  font-size: 0.75rem;
}

//------------------------------
//       HOME PAGE
//------------------------------
#page-layout-home {
  #title-and-logo {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    text-align: center;

    .home-page-title2 {
      font-size: 3rem;
      line-height: 1.232;
      color: #5b738c;
      font-family: Lato;
      font-weight: 300;
      font-style: normal;
      margin-top: 1rem;
      margin-bottom: 1rem;
      letter-spacing: 0em;
      text-transform: none;
    }
    .home-page-subtitle {
      margin-bottom: 2rem;
      font-size: 0.9rem;
      color: #888888;
      text-transform: uppercase;
    }
    .return-a2j {
      margin-top: 1rem;
    }
    #a2jlink {
      text-align: center;

      a {
        color: #a8a8a8;
        text-decoration: underline;
        font-size: 0.85rem;
      }
    }
    #a2jlogohome {
      max-width: 18rem;
      min-width: 18rem;
      height: auto;
    }
  }
  .state-summary-title {
    font-size: 1.5rem;
    font-weight: normal;
    color: #5a5a5a;
    font-family: Cambria, Cochin, Georgia;
    margin: 1rem auto 0.5rem auto;
    text-align: center;
    max-width: 50rem;
  }
  .home-page-title3 {
    font-size: 2rem;
    color: #5b738c;
    margin-bottom: 0.5rem;
    font-family: Lato;
    font-weight: 300;
    font-style: normal;
  }
  .home-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .tooltip-label {
    color: #565656;
    font-weight: normal;
    font-size: medium;
  }
  .tooltip-value {
    color: black;
    font-weight: bold;
    font-size: large;
  }
  .tooltip-ratio {
    font-weight: normal;
    font-size: 0.8rem;
  }
  #home-intro,
  #link-to-report {
    font-family: Lato, sans-serif;
    font-size: 1.5rem;
    margin: 1rem auto 2rem auto;
    text-align: center;
    font-weight: 300;
    color: #5b738c;

    .links {
      font-size: 1.1rem;
      font-family: Lato, sans-serif;
      font-size: 1.5rem;
      color: #5b738c;
    }
  }
  #home-intro {
    display: none;
  }
  #statewide-profile-note {
    text-align: center;
    // font-family: Lato, sans-serif;
    // font-size: 1.5rem;
    margin: 0 auto 2rem auto;
    // font-weight: 300;
    // color: #5b738c;
    font-family: Copse;
    color: #bbb4b4;
    font-size: 1.1rem;
    
    .links {
      font-family: Copse;
      color: #bbb4b4;
      font-size: 1.1rem;
    }
  }

  .subtitle-instruction {
    margin: 1rem auto 0.5rem auto;
    font-family: Copse;
    color: #bbb4b4;
    font-size: 1.1rem;
    text-align: center;
    font-style: italic;
  }

  .sub-intros {
    font-family: Copse;
    color: #bbb4b4;
    font-size: 1.1rem;
    margin: 1rem 2.5rem 1rem 0;
  }
  .pov-buttons {
    display: inline-block;
  }
  #home-all-charts {
    display: flex;
    flex-direction: column;
  }
  .home-graph-intro-and-form {
    max-width: 50%;
    display: flex;
    flex-direction: column;
  }
  .highchart-and-info-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    max-width: 100%;
    justify-content: center;
    padding-top: 3rem;
    padding-bottom: 1rem;
    border-top: 0.5rem solid #eeeeee;
  }
  .highchart-graph-container {
    min-height: 20rem;
    max-width: 50%;
  }
  .home-form {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-bottom: 2rem;
  }
  .home-form-title {
    font-style: italic;
    font-size: 0.95rem;
    margin-right: 1rem;
  }
}

.home-chart-label {
  font-size: 0.9rem;
  font-family: "Segoe UI", "Roboto", sans-serif;
}

#rep-container {
  min-height: 25rem !important;
}

.rep-state-only.stats-container {
  max-width: 22rem;
  padding: 1.5rem;
}

.links {
  // color: #5b738c;
  text-decoration-line: underline;
  text-decoration-style: solid;
  // font-family: Copse;
  // font-size: 1.5rem;
  // color: #bbb4b4;
  // font-size: 1.1rem;
}

#topic-select {
  display: none;
}

#logos-container {
  display: flex;
  flex-direction: column;
  justify-content: center;

  #logos-text {
    font-size: 1.5rem;
    margin: 2rem auto 2rem auto;
    text-align: center;
    color: #5b738c;
    font-family: Lato;
    font-weight: 300;
    font-style: normal;
  }
  #logos {
    text-align: center;
  }
  .support-by-logo {
    padding: 0.5rem;
  }
}
#lsc-logo {
  margin-right: 1rem;
}

//------------------------------
//        COUNTY PROFILE
//------------------------------

.chart-subtitle {
  color: #5b738c;
  text-decoration-line: underline;
  text-decoration-style: solid;
  font-family: Copse;
  font-size: 0.8rem;
}

.stats-container {
  // background-color: #f2f2f2;
  // border-bottom: 0.25rem solid #eee;
  // margin-bottom: 1rem;
  // padding-bottom: 0.5rem;
  font-family: Copse;
  color: #bbb4b4;
  display: none;
}

#need-poverty-container {
  width: 62%;
}
#need-housing-container {
  width: 33%;
}

#pov-stats-container {
  max-width: 20rem;
}

#access-attorney-chart,
#access-intake-chart {
  margin-bottom: 1.5rem;
  max-width: 100%;
  max-height: 165px;
}

#pov-chart,
#profile-rep-comp-chart {
  max-width: 100%;
  min-height: 20rem;
  min-width: 25rem;
  flex-grow: 1;
}

#access-internet {
  margin-top: 0rem;
}
#need-table {
  margin: 1rem auto;
}
#need-table, #access-internet-table1, #access-internet-table2 {
  tbody > tr:first-child > td {
    font-weight: bold;
    background-color: #eee;
    border-left: 3px solid #fff;
  }
}
#access-internet-tables {
  display: flex;
  flex-wrap: nowrap;
  margin: 1rem auto;
  justify-content: center;
}

#access-table td,
#access-internet-table1 td,
#access-internet-table2 td,
#need-table td {
  color: #5a5a5a;
  text-align: center;
  font-family: Lato, sans-serif, Arial, Helvetica;
  padding-right: 15px;
  padding-left: 15px;
}

.banner-heading {
  // text-align: center;
  font-weight: bold;
  // font-size: 1rem;
  // color: #000;
  // font-family: Lato, sans-serif, Arial, Helvetica;
}

.banner-text {
  text-align: center;
  // color: #000000;
  font-weight: bold;
  // font-family: Lato, sans-serif, Arial, Helvetica;
}

.banner-sub-text {
  // text-align: center;
  font-size: 0.85rem;
  font-weight: bold;
  // color: #000000;
  // font-family: Lato, sans-serif, Arial, Helvetica;
}

.pov-radio-group,
.rep-radio-group {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-left: 1rem;
  margin-bottom: 0.5rem;
  flex-wrap: wrap;
}

.pov-radio-group > div,
.re-radio-group > div {
  display: flex;
}

.pov-radio,
.rep-radio {
  display: inline-block;
  margin-left: 0.25rem;
  font-family: Lato, sans-serif, Arial, Helvetica;
  justify-content: center;
  align-items: center;
  font-size: 0.8rem;
  min-width: 4rem;
}

.radio-group {
  display: block;
  text-align: center;
}

#pov-radio-text,
#rep-radio-text {
  font-style: italic;
  color: #5a5a5a;
  font-size: 0.85rem;
  padding: 0.5rem 0 0.5rem 0;
  max-width: 13rem;
}

.rep-radio-group {
  justify-content: center;

  div {
    margin: 0 1rem;
  }
}
#rep-dumbbell-chart-div {
  flex-grow: 1;
}

#pov-chart {
  // margin-top: 1rem;
  // margin-bottom: 1rem;
}
#county-profile-header-section {
  display: flex;
  justify-content: center;
}
#county-profile-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#county-profile-name {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-end;
  font-size: 3rem;
  color: #5b738c;
  margin-top: 0.125rem;
  margin-bottom: 0.75rem;
  font-family: Lato;
  font-weight: 300;
  text-align: center;
  font-style: normal;
}
#county-profile-images {
  position: relative;
}
.county-profile-img {
  position: absolute;
  top: -1rem;
}
.profile-img-left-right {
  width: 200px;
  min-width: 200px;
  min-height: 200px;
  margin: 0 2rem;
}
#county-dropdown {
  margin-bottom: 2.5rem;
}

#profile-containers {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  overflow: auto;
  justify-content: flex-start;
  width: 100%;
}

#topic-select-profile {
  display: none;
}
#topic-select, #topic-select-profile {
  margin-bottom: 2rem;
}

#wrapper-profile-need,
#wrapper-profile-access,
#wrapper-profile-rep {
  // max-width: 33.3%;
  // width: 33.3%;
}

.profile-row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.profile-topic-container {
  display: flex;
  flex-direction: column;
  margin: 1.25rem;
  min-width: 25rem;
}
#profile-rep-container .profile-topic-container {
  width: 47%;
}
.rep-radio-group {
  flex-direction: row;
}
#profile-access-container .profile-topic-container {
  width: 30%;
}
.profile-topic-container:first-child {
  margin-left: 0;
}
.profile-topic-contents-row {
  display: flex;
  padding: 0.5rem;
  flex-direction: row;
  flex-wrap: nowrap;

  >div {
    padding: 1rem;
  }
}
.profile-topic-contents-col {
  display: flex;
  padding: 1.5rem;
  flex-direction: column;

  >div {
    // padding: 1rem;
  }
}

.profile-subcontainer {
  display: flex;
  flex-direction: column;
  // align-items: center;
  flex-wrap: wrap;
  max-width: 90rem;
  margin: 0 auto;
  justify-content: center;
  padding-top: 3rem;
  padding-bottom: 1rem;
  // border-top: 0.5rem solid #eeeeee;
}
.profile-wrapper {
  border-top: 0.5rem solid #eeeeee
}
.profile-subtitle {
  font-size: 2rem;
  color: #5b738c;
  font-family: Lato;
  font-weight: 300;
  font-style: normal;
}

.profile-section-title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.profile-section-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.profile-subheading {
  font-family: Lato;
  color: #fff;
  font-size: 1.25rem;
  text-align: center;
  background-color: #5b738c;
  border-radius: 0.125rem;
  padding-left: 0.75rem;
  width: 100%;
}

#access-intakes {
  margin-top: 0rem;
}

#need-cost-burden {
  // margin-top: 0.5rem;
}

.profile-chart-category-label {
  font-size: 0.8rem;
  font-family: Lato, sans-serif, Arial, Helvetica;
  text-align: right;
}

.profile-chart-legend-label {
  font-family: "Segoe UI";
  font-size: 0.9rem;
  text-align: right;
  font-weight: bold;
}

.legend-median {
  color: #bbd4fc;
}

.legend-county {
  color: #313f53;
}

.profile-loader {
  border: 16px solid #f3f3f3;
  border-top: 16px solid #384055;
  border-radius: 50%;
  width: 120px;
  height: 120px;
  margin: 1rem auto;
  animation: spin 2s linear infinite;
}

.highcharts-container {
  margin: 0 auto;
}

.rep-legend-circle {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  display: inline-block;
}

.rep-legend-median {
  background-color: #bbd4fc;
}

.rep-legend-var {
  background-color: #313f53;
}

#rep-legend {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  align-items: center;
}

.profile-content {
  visibility: hidden;
}

#county-profile-instructions {
  font-family: Copse;
  font-size: 1.1rem;
  margin: 1rem auto 2rem auto;
  color: #bbb4b4;
  max-width: 40rem;
  text-align: center;
}

#profile-access-container {
  // border-left: thick solid #eeeeee;
  // border-right: thick solid #eeeeee;
}

.highcharts-title {
  text-align: center;
  border-radius: 0.25rem;
}

.table-title {
  color: #384055;
  font-size: 0.9rem;
  font-family: Copse;
  padding: 0.125rem 1rem;
  text-align: center;
  border-radius: 0.25rem;
  font-weight: bold;
}

.table-link {
  text-align: center;
}

.profile-need,
.profile-access,
.profile-rep {
  width: 100%;
}


//------------------------------
//        LOADING SYMBOL
//------------------------------
.loader {
  border: 16px solid #f3f3f3;
  border-top: 16px solid #808080;
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
  margin: auto;
  display: none;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

//------------------------------
//        ABOUT MODAL
//------------------------------
#nav-about {
  position: absolute;
  top: 5px;
  right: 5px;
  z-index: 50;
  line-height: 1.8em;
  font-size: 1rem;
  background-color: #5b738c;
  padding: 5px 15px 5px 15px;
  color: #ffffff;
  max-width: 150px;
}

#nav-about:hover {
  background-color: rgba(91, 115, 140, 0.5);
  cursor: pointer;
}

#about-container {
  background-color: white;
  border-radius: 20px;
  border: 0.225rem solid #c6a36b;
  z-index: 100;
  position: fixed;
  top: 45px;
  right: 5px;
  max-width: 400px;
  min-width: 300px;
  display: flex;
  flex-direction: column;
  padding: 10px;
}

#close-about {
  float: right;
  position: fixed;
  top: 60px;
  right: 25px;
  min-width: 25px;
  max-width: 40px;
  background-color: #5b738c;
  border-color: #5b738c;
  border-width: 0.05rem;
  color: #ffffff;
}

#close-about:hover {
  cursor: pointer;
}

#about-the-data {
  display: none;
}

.about-text {
  font-family: Lato, sans-serif;
  font-size: 0.9rem;
  color: #4a4a4a;
}

.about-links {
  color: #5b738c;
  text-decoration-line: underline;
  text-decoration-style: solid;
  font-family: Copse;
  font-size: 0.9rem;
}

.about-title {
  margin-top: 1rem;
  text-align: left;
  font-family: Lato, sans-serif;
  font-size: 1.2rem;
  color: #5b738c;
}

a {
  font-family: Lato, sans-serif;
  font-size: 0.9rem;
}

//------------------------------
//    TOOLTIP (HOME/PROFILE)
//------------------------------
.popup-header {
  text-transform: uppercase;
  background-color: #c6a36b;
  border-radius: 0.25rem;
  color: #fff;
}
.popup-value {
  margin-top: 0.25rem;
  font-weight: bold;
  color: #5a5a5a;
}
.popup-context {
  margin-top: 0.25rem;
  line-height: 0.9;
  color: #5f5f5f;
}






//------------------------------
//        RESPONSIVNESS
//------------------------------

@media (min-width: 768px) {
  .navbar-start {
    margin-right: 50px;
  }
  .navbar-dropdown {
    text-align: center;
  }
}

// Bring all topics back when stacking
@media (min-width: 1100px) {
  #c1wrapper {
    display: flex !important;
  }
  #c2wrapper {
    display: flex !important;
  }
  #c3wrapper {
    display: flex !important;
  }
  .profile-wrapper {
    display: block !important;
  }
  #wrapper-profile-need {
    // display: flex !important;
    // max-width: 33.3% !important;
    // width: 33.3% !important;
  }
  #wrapper-profile-access {
    // display: flex !important;
    // max-width: 33.3% !important;
    // width: 33.3% !important;
  }
  #wrapper-profile-rep {
    // display: flex !important;
    // max-width: 33.3% !important;
    // width: 33.3% !important;
  }
}

@media (min-width: 1288px) {
  .navbar-start {
    margin-left: auto;
    margin-right: auto;
  }
}

//////////////////////////////////////////////


@media (max-width: 1640px) {
  .profile-row {
    justify-content: center;
    align-items: flex-start;
  }
  #profile-access-container .profile-topic-container {
    // width: 33%;
  }
  #profile-access-container .profile-topic-container {
    min-width: 10rem
  }
  .profile-subtitle {
    text-align: center;
  }
  #need-poverty-container {
    width: 55%;
  }
  #access-internet-tables {
    flex-wrap: wrap;

    td {
      min-width: 8rem;
      max-width: 8rem;
    }
  }
  .profile-topic-contents-col {
    padding-left: 0;
    padding-right: 0;
  }
}

@media (max-width: 1200px) {
  // #profile-access-container {
  //   border-left: none;
  //   border-right: none;
  // }

  .profile-topic-contents-row {
    flex-wrap: wrap;

    > div {
      padding-top: 0;
    }
  }
  #pov-radio-text, #rep-radio-text {
    max-width: 100%;
  }
  .pov-radio-group {
    flex-direction: row;

    > div {
      padding-right: 0.5rem;
    }
  }
  .profile-topic-container {
    // margin-left: 0.25rem;
    // margin-right: 0.25rem;
  }
  .profile-topic-contents-col {
    padding-left: 0;
    padding-right: 0;
  }

  // #profile-access-container .profile-topic-container {
  //   width: 100%;
  // }
}


// When to use dropdown instead of stacking
@media (max-width: 1100px) {
  .home-graph-intro-and-form {
    min-width: 100%;
  }
  .navbar-start > .navbar-item {
    border-bottom: 1px solid #ccc;
  }
  .highchart-graph-container {
    min-width: 100%;
  }
  #c2wrapper {
    display: none;
  }
  #c3wrapper {
    display: none;
  }
  #topic-select {
    display: flex;
    flex-direction: row;
    padding: 0.25rem;
    max-width: 100%;
    label {
      padding-right: 0.5rem;
      font-style: italic;
      font-size: 0.9rem;
    }
    select {
      font-weight: 300;
      max-width: 80%;
      word-wrap: break-word;
      text-overflow: inherit;
      white-space: normal;
      option {
        font-weight: 300;
      }
    }
  }

  #topic-select-profile {
    justify-content: center;
    display: flex;
    flex-direction: row;
    padding: 0.25rem;
    max-width: 100%;
    label {
      padding-right: 0.5rem;
      font-style: italic;
      font-size: 0.9rem;
    }
    select {
      font-weight: 300;
      max-width: 80%;
      word-wrap: break-word;
      text-overflow: inherit;
      white-space: normal;
      option {
        font-weight: 300;
      }
    }
  }
  
  #wrapper-profile-need {
    display: block;
  }
  #wrapper-profile-access {
    display: none;
  }
  #wrapper-profile-rep {
    display: none;
  }

  .profile-topic-container {
    margin: 2rem 0;
  }
  #profile-access-container .profile-topic-container,
  #profile-rep-container .profile-topic-container {
    width: 100%;
    max-width: 50rem;
  }
  .rep-state-only.stats-container {
    max-width: 45rem;
  }
  #access-internet-table1, #access-internet-table2 {
    margin: 0;
  }
  #access-internet-tables {
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 2rem;

    td {
      min-width: 8rem;
      max-width: 8rem;
    }
  }
  #need-poverty-container, #need-housing-container {
    width: 100%;
    max-width: 50rem;
  }
  #profile-access-container .profile-row {
    flex-direction: column;
    align-items: center;
  }
}

@media (max-width: 1023px) {
  .navbar-dropdown {
    display: block !important; // keep it open while in the hamburger. Timed to when the hamburger appears.
  }
  .profile-img-left-right {
    display: none;
  }
}
